@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
html, body {
  margin: 0;
  padding: 10px 30px;
  font-family: 'Raleway', sans-serif; }

.main_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.name_header_container {
  width: 70%;
  height: 200px; }

.hanging_sign {
  height: 500px;
  width: auto;
  margin-top: -180px;
  position: relative;
  z-index: -10;
  margin-left: -50px; }

.name_header_container h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  font-weight: bold; }

.name_header_container p {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000000; }

.contact_details_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.forHire {
  color: #FFDD1B;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 20px; }

.forHire:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate; }

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }

.contact_details {
  display: flex;
  flex-direction: column; }

div.contact_details ul li {
  display: inline-block;
  list-style-type: none;
  text-align: right; }

.website ul {
  display: flex;
  justify-content: space-between; }

.mobile ul {
  display: flex;
  justify-content: space-between; }

.email ul {
  display: flex;
  justify-content: space-between; }

.website, .mobile, .email {
  border-bottom: 1px solid #000000; }

#website {
  height: 30px;
  width: auto;
  margin: 15px auto; }

#mobile {
  height: 40px;
  width: auto;
  margin: 10px auto; }

#email {
  height: 50px;
  width: auto;
  margin: 10px;
  margin-left: -8px; }

.about_me_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -290px; }

.superhero_container {
  display: flex;
  border-bottom: 1px solid #000000; }

.superhero {
  height: 230px;
  width: auto;
  margin-left: -45px;
  padding-right: 35px; }

.cape {
  height: 90px;
  width: auto;
  position: relative;
  z-index: -10;
  animation: wind 15s ease-in-out infinite, size 20s ease-in-out infinite, flickr 5s ease-in-out infinite;
  transform-origin: 50% 100%;
  margin-top: 55px; }

@keyframes wind {
  0%, 22%, 49%, 62%, 81%, 100% {
    border-radius: 2px 14px 8px 8px / 10px 10px 8px 8px; }
  14%, 32%, 56%, 70%, 89% {
    border-radius: 14px 2px 8px 8px / 20px 20px 8px 8px; } }

@keyframes size {
  0%, 22%, 49%, 62%, 81%, 100% {
    transform: scale(1, 1); }
  14%, 32%, 56%, 70%, 89% {
    transform: scale(1.2, 1); } }

.personal_statement_container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding: 0 20px;
  border-bottom: 1px solid #000000;
  background-color: #ffdd1b;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }

.personal_statement_container p {
  text-align: justify;
  line-height: 20px;
  float: right; }

.personal_statement_container p span {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  display: inline-block; }

.work_experience_container {
  width: 50%; }

td {
  width: 30%; }

#job_msd_container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 70%; }

#job_msd_container h4 {
  font-size: 30px;
  margin: 0; }

#job_msd_container .job_stats {
  font-weight: bold; }
