@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway");
html, body {
  margin: 0;
  padding: 10px 30px;
  font-family: 'Raleway', sans-serif; }

.navbar h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: bold; }

.name_header {
  border-bottom: 2px solid #000000;
  width: 80%; }

.navbar .col-md-7 p {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold; }

.superhero {
  height: 230px;
  width: auto;
  margin-top: 20px;
  margin-left: 65px; }

.cape {
  width: 130px;
  margin-top: -290px;
  margin-left: -18px;
  position: relative;
  z-index: -3;
  animation: wind 15s ease-in-out infinite, size 20s ease-in-out infinite, flickr 5s ease-in-out infinite;
  transform-origin: 50% 100%; }

@keyframes wind {
  0%, 22%, 49%, 62%, 81%, 100% {
    border-radius: 2px 14px 8px 8px / 10px 10px 8px 8px; }
  14%, 32%, 56%, 70%, 89% {
    border-radius: 14px 2px 8px 8px / 20px 20px 8px 8px; } }

@keyframes size {
  0%, 22%, 49%, 62%, 81%, 100% {
    transform: scale(1, 1); }
  14%, 32%, 56%, 70%, 89% {
    transform: scale(1.2, 1); } }

/*@keyframes flickr {
	0%, 22%, 49%, 62%, 81%, 100% {
		box-shadow: 0 0 20px 0 rgba(255,202,0,0.7);
	}
	14%, 32%, 56%, 70%, 89% {
		box-shadow: 0 0 20px 0 rgba(255,202,0,.8);
	}
}*/
.forHire {
  color: #FFDD1B;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 25px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s; }

.forHire:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate; }

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B; } }

#website {
  height: 30px;
  width: auto;
  float: right;
  margin-top: 15px; }

.website, .mobile, .email {
  border-bottom: 1px solid #000000;
  width: 80%;
  height: 75px;
  padding: 10px 0; }

#mobile {
  height: 40px;
  width: auto;
  float: right;
  margin-top: 10px; }

#email {
  height: 50px;
  width: auto;
  float: right;
  margin-top: 10px; }

.personal_statement h4 {
  border-bottom: 2px solid #000000;
  width: 50%;
  font-size: 28px;
  padding-bottom: 10px;
  margin-top: -100px; }

.statement_body {
  padding: 30px;
  font-size: 18px;
  background-color: #FFDD1B;
  margin-top: 20px;
  width: 90%;
  float: left; }

.statement_body span {
  font-size: 30px;
  font-weight: bold; }

.work_experience {
  margin-top: -240px;
  float: right; }

li {
  padding-right: 20px; }
